<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zip Folder using Javascript</title>
</head>
<body>
<form id="zipUpload">
  <input class="upload" type="file" webkitdirectory>
  <button type="submit">
    Upload your ZIP
  </button>
</form>
<p id="status"></p>
<ul id="zipData"></ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw==" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='UploadHelper.js') }}" crossorigin="anonymous"></script>

<script>

let fileList=[],statusElement = document.getElementById('status');
let totalSize = 0;
let uploadSize = 0;
Array.from(document.getElementsByClassName('upload')).forEach(u => {
  u.addEventListener('change', e => {
    UploadActivity.InitializeUpload(e.target.files);
  });
});

function formatBytes(bytes, decimals = 2) {
    if (!+bytes) return '0 Bytes'

    const k = 1024
    const dm = decimals < 0 ? 0 : decimals
    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

    const i = Math.floor(Math.log(bytes) / Math.log(k))

    return `${parseFloat((bytes / Math.pow(k, i)).toFixed(dm))} ${sizes[i]}`
}

async function uploadZipFiles(){
    let zip = new JSZip();
    size = 0;
    let allowedSize = 10485760;
    fileNumber=0;
    uploadSize = 0;
    processFileComplete = false;
    fileUploadStarted = 0;
    fileUploadCompleted = 0;
    fileUploadStarted_Final = 0;
    file_id = Date.now()
    for(let i=0;i<fileList.length;i++){
        let file = fileList[i],
        name = file.webkitRelativePath || file.name;

        if(file.size > 504857600){
          //upload it separately
          continue;
        }

        if(size + file.size > allowedSize || (size>0 && fileList.length-1==i)){
            if(fileList.length-1==i){
                zip.file(name, file, {binary: true});
                //Final File Processed
                processFileComplete = true;
            }            

            fileNumber = fileNumber + 1;
            console.log("Uploading File Number "+fileNumber)
            //Upload here
           
            await zip.generateAsync({type:"blob"}).then(blob => {
                let ajax = new XMLHttpRequest(),
                formData = new FormData();
                
                fileUploadStarted = fileUploadStarted + 1;
                // Add the blob to the data to be sent to the server
                formData.append('zipFile', blob, file_id +"_"+Date.now() + '.zip');
                if(processFileComplete){
                    formData.append("IsFinal","True");
                    console.log("Final Upload Call");
                    fileUploadStarted_Final = fileUploadStarted;
                }
                ajax.upload.addEventListener('progress', function(e) {
                    let progress = Math.floor(e.loaded / e.total * 100);
                    console.log('Uploading: ' + progress + '%');
                }, false);

                ajax.addEventListener('load', function(e) {
                    if (ajax.readyState === 4 && ajax.status === 200) {
                        uploadSize = uploadSize + Number(ajax.getResponseHeader("filesize"));
                        fileUploadCompleted = fileUploadCompleted + 1;
                        console.log('Started : '+fileUploadStarted+" Completed: "+fileUploadCompleted);
                        statusElement.innerText = "Uploaded  "+formatBytes(uploadSize) +" of "+totalSize;
                        if( fileUploadStarted_Final == fileUploadCompleted){
                          statusElement.innerText="Merging. Please Wait";
                          var mergeRequest = new XMLHttpRequest();
                          mergeRequest.open("GET", 'http://127.0.0.1:5000/merge/'+file_id, false ); // false for synchronous request
                          mergeRequest.send(null);
                          statusElement.innerText="Upload for ID "+file_id+" is complete!";
                        }
                       
                    }
                }, false);
                
                ajax.open('POST', 'http://127.0.0.1:5000/upload', true);
                ajax.setRequestHeader("filesize",size);
                // We can't actually upload from here, so just download it instead
                ajax.send(formData);
        
        
                console.log("InProgress upload completed")
            });
            console.log("Uploaded File Number "+fileNumber)
            zip = new JSZip();
            size = 0;
        }

        size = size + file.size;
        zip.file(name, file, {binary: true});
    }
}

document.getElementById('zipUpload').addEventListener('submit', e => {
  e.preventDefault();
  UploadActivity.PerformUpload(4);
});


</script>




</body>
</html>